@{
    ViewData["Title"] = "Alte.pro";
}


<p class="text-center"  >
 <strong> Sobre a nossa equipa: </strong> 
</p>


<p> Somos alunos do segundo ano no curso de Gestão de Sistemas de Informação, no Instituto Politécnico de Setúbal, chamamo-nos André e Diogo e temos, respetivamente, 21 e 20 anos. </p>
<p> O objetivo deste WebSite é desenvolver um dos jogos mais conhecidos dos casinos, o "BlackJack". Este jogo tem despertado muita atenção aos jogadores mais novatos e, até mesmo, aos profissionais devido à vantagem real que temos em relação à banca.  </p>
<p> Disponibilizamos aqui as regras do jogo: </p>

    

