@{
    ViewData["Title"] = "Alte.pro";
}
<p>
    Esta equipa surgiu na necessidade da criação deste projeto. O objetivo central desta aplicação Web é desenvolver um dos jogos mais conhecidos dos casinos,
    o BlackJack.
</p>
<p>
    A Alte.pro é composta por 2 alunos do 2º ano da licenciatura de <strong>G</strong>estão de
    <strong>S</strong>istemas de <strong>I</strong>nformação que almejam um futuro proveniente de sucesso.
</p>
<div class="row">
    <div class="col-md-6">
        <figure>
            <img src="~/images/andre_alves.jpg" class="img-circle" width="210" height="210" />
            <figcaption>André Filipe Alves, 21 anos</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure>
            <img src="~/images/diogo_teles.jpg" class="img-circle" width="210" height="210" />
            <figcaption>Diogo Filipe Teles, 20 anos</figcaption>
        </figure>
    </div>
</div>












