@{
    ViewData["Title"] = "Ajuda";
}


<address>
    One Microsoft Way<br />
    Setúbal, PT 7580-000<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:altepro@gmail.com">altepro@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:altepro@gmail.com">altepro@gmail.com</a>
</address>
