@{
    ViewData["Title"] = "HighScores";
}


  
        <table class="table">
            <thead>
              <tr>
                <th> # </th>
                <th> Nome</th>
                <th> Vitórias</th>
                <th> BlackJack</th>
                <th> Pontuação</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td> 1 </td>
                <td> José dos Santos</td>
                <td> 143 </td>
                <td> 80 </td>
                <td> 11440 </td>
                
            </tr>
            <tr class="sucess" >
                <td> 2 </td>
                <td> António Fernando </td>
                <td> 140 </td>
                <td> 81 </td>
                <td> 11290 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> João Franscisco </td>
                <td> 101 </td>
                <td> 81 </td>
                <td> 8181 </td>
            </tr>
            <tr class="sucess">
                <td> 4 </td>
                <td> Pedro Almeida </td>
                <td> 110 </td>
                <td> 70 </td>
                <td> 7700 </td>
            </tr>
            <tr>
                <td> 5 </td>
                <td> André Correia </td>
                <td> 99 </td>
                <td> 12 </td>
                <td> 1188 </td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> Andreia Pinto </td>
                <td> 86 </td>
                <td> 12 </td>
                <td> 1032 </td>
            </tr>            
        </tbody>         

        </table>
         
    