@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,	initial-scale=1">
    <title>DA2	- BlackJack</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
</head>
<body>
    <h1>Bem-vindo à melhor aplicação de </h1>
    
    <!--
        <div class="playingCards rotateHand faceImages">

            <div class="card rank-a spades">
                <span class="rank">A</span>
                <span class="suit">&spades;</span>
            </div>
        </div>
    -->

</body>