

    <div class="jumbotron text-center tittle">
        <p class="h6">Torne-se num perito em</p>
        <p class="blackjack">BlackJack</p>
        <p class="h6">com a nossa aplicação</p>
    </div>

   
    
    <!--
    <div class="playingCards rotateHand faceImages">

        <div class="card rank-a spades">
            <span class="rank">A</span>
            <span class="suit">&spades;</span>
        </div>
    </div>
-->

