@{
    ViewData["Title"] = "Regras";
}

<p> O <strong> Blackjack </strong> é um jogo de cartas em que o objetivo é conseguir reunir um conjunto de cartas (mão) que totalizem mais pontos que as cartas do adversário (o dealer), sem no entanto ultrapassar os 21 pontos. A descrição que se segue corresponde às regras do jogo a
implementar, que constituem uma versão modificada do jogo original. Os participantes no jogo são o jogador (apenas 1 jogador) e o dealer. O jogador inicia o jogo com um
determinado número de créditos e coloca a sua aposta no início de cada ronda. O valor da aposta tem de estar compreendido entre um valor mínimo de 10 créditos e um valor máximo de 100 créditos. O jogador pode jogar tantas rondas do jogo quanto quiser, desde que disponha de créditos suficientes para colocar a 
aposta. Para iniciar uma ronda (round), o jogador começa por colocar a sua aposta. O dealer dará então ao jogador duas cartas abertas (de face voltada para cima). O dealer tira para si também duas cartas: uma aberta e outra voltada para baixo.
Se as primeiras duas cartas que o jogador recebeu totalizarem 21 pontos, o jogador terá feito Blackjack. Nessa situação, o jogador ganha 1.5 vezes o valor da aposta (além de recuperar a aposta colocada) e a
ronda termina de imediato. No caso de não ter Blackjack, o jogador tem as seguintes quatro opções: </p>
<p> •<strong>  Ficar </strong>(stand) – não pedir mais cartas. Após esta opção: o jogador fica com a pontuação atual da sua mão e é a vez do dealer fazer a sua jogada; </p>
<p>
    • <strong> Pedir carta </strong> (hit) – pedir mais uma carta;
    Após esta opção: o dealer dá mais uma carta aberta ao jogador. Caso o jogador ultrapasse os 21
    pontos, o jogador perde automaticamente e a ronda termina (player bust); caso contrário, pode
    continuar a sua jogada voltando a tomar uma das quatro opções;
</p>
<p>
    • <strong> Dobrar</strong> (double) – dobrar a aposta;
    Após esta opção: o jogador dobra a sua aposta e de seguida o dealer dá mais uma carta aberta ao
    jogador. Caso o jogador ultrapasse os 21 pontos, o jogador perde automaticamente e a ronda
    termina; caso contrário, o jogador fica com a pontuação resultante e é a vez do dealer fazer a sua
    jogada;
</p>
<p>
    • <strong> Desistir </strong> (surrender) – desistir da ronda;
    Após esta opção: O jogador perde e a ronda termina. No entanto, o jogador recupera metade da sua
    aposta
</p>
<p> <strong> Jogada do dealer: </strong> O dealer não tem vontade livre, jogando sempre com as mesmas regras. Concretamente,
o dealer é obrigado a fazer hit até perfazer 17 ou mais pontos. Caso a pontuação final do dealer exceda os
21 pontos, o jogador ganha a ronda (dealer bust). No caso contrário, o jogador ganha se tiver mais pontos
que o dealer. Caso o jogador e o dealer tenham os mesmos pontos, a ronda termina com um empate. Assim,
existem três resultados possíveis após a jogada do dealer:
</p>
<p> •<strong>  O jogador ganha – </strong> o jogador recupera o valor da aposta colocada, acrescido de um valor igual à sua
aposta (ou seja, o seu lucro é o valor da aposta).
<p>
    • <strong> O dealer ganha – </strong>o jogador perde a sua aposta (ou seja, fica com os mesmos créditos que tiver no
    final da ronda)
</p>
<p> • <strong> Empate (push) – </strong> o jogador recupera o valor da aposta colocada (ou seja, fica com os mesmos
créditos que tinha antes de iniciar a ronda). </p>

