@{
    ViewData["Title"] = "Regras";
}

<div>

    Este jogo só tem um objetivo, chegar o mais perto dos <strong class="text-success">21 pontos</strong> sem os ultrapassar!
    <p>
        Se o fizeres recebes o valor da tua <strong class="text-success"> aposta a duplicar</strong> Caso sejas um sortudo e consigas exatamente
        21 pontos na primeira jogada fazes, <strong class="text-warning">Blackjack</strong> e <strong class="text-warning">ganhas 2,5 vezes a tua aposta</strong>.
        No caso de não teres tanta sorte e <strong class="text-danger">perderes</strong> uma ronda, <strong class="text-danger"> o valor que apostaste</strong>.
    <p>
        Se te estiveres a perguntar o que acontece se obtiveres exatamente a <strong class="text-info">mesma pontuação</strong> que o Dealer, não te preocupes,
        nós <strong class="text-info">devolvemos-te</strong> os créditos que apostas-te.
    </p>
    <p>
        Para te tornares num perito só precisas de saber quais as opções que poderás tomar:
    </p>
</div>
<div class="btn-group btn-group-justified">
    <a id="btnhit" class="btn btn-success btn-large roundbtn "><span class="glyphicon glyphicon-plus"></span><strong> Hit</strong> </a>
    <a id="btnstand" class="btn btn-primary btn-large roundbtn "><span class="glyphicon glyphicon-pause"></span><strong> Stand</strong> </a>
    <a id="btndouble" class="btn btn-warning btn-large roundbtn "><span class="glyphicon glyphicon-refresh"></span><strong> Double</strong> </a>
    <a id="btnsurrender" class="btn btn-danger btn-large roundbtn "><span class="glyphicon glyphicon-remove"></span><strong> Surrender</strong> </a>
</div>

<div id="hit" class="alert alert-success btnrules">
    <p>
        <strong class="text-success">Recebes + 1 carta</strong>. Caso ultrapasses os 21 pontos perdes a ronda. Caso contrário,
        continuas a jogar.
    </p>
</div>

<div id="stand" class="alert alert-info btnrules">
    <p>
        <strong class="text-info">Ficas</strong> com a pontuação atual da tua mão e é a <strong class="text-info">vez do dealer</strong> jogar. Agora só te resta rezar...
    </p>
</div>

<div id="double" class="alert alert-warning btnrules">
    <p>
        <strong class="text-warning">Dobras</strong> a tua aposta e recebes
        <strong class="text-warning">+ 1 carta</strong>.
        É a vez do Dealer jogar, isto se não perderes antes...
    </p>
</div>

<div id="surrender" class="alert alert-danger btnrules">
    <p>
        <strong class="text-danger">Desistir</strong> é para os fracos. Mas para não haver descriminação damos-te
        <strong class="text-danger">metade da tua aposta</strong>.
    </p>
</div>


