@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Regras do Jogo";
}

<p> O <strong> Blackjack </strong> é um jogo de cartas em que o objetivo é conseguir reunir um conjunto de cartas (mão) que totalizem mais pontos que as cartas do adversário (o dealer), sem no entanto ultrapassar os 21 pontos. A descrição que se segue corresponde às regras do jogo a </p>
<p>implementar, que constituem uma versão modificada do jogo original2. Os participantes no jogo são o jogador (apenas 1 jogador) e o dealer. O jogador inicia o jogo com um </p>
<p>determinado número de créditos e coloca a sua aposta no início de cada ronda. O valor da aposta tem de estar compreendido entre um valor mínimo de 10 créditos e um valor máximo de 100 créditos. O jogador pode jogar tantas rondas do jogo quanto quiser, desde que disponha de créditos suficientes para colocar a </p>
<p>aposta. Para iniciar uma ronda (round), o jogador começa por colocar a sua aposta. O dealer dará então ao jogador duas cartas abertas (de face voltada para cima). O dealer tira para si também duas cartas: uma aberta e outra voltada para baixo. </p>

