@{
    ViewData["Title"] = "Regras";
}

<p> O dealer começa por dar duas cartas abertas (de face voltada para cima) ao jogador. Tira, também, para si duas cartas: uma aberta e outra voltada para baixo.
Se as primeiras duas cartas que o jogador recebeu totalizarem 21 pontos, o jogador terá feito <strong>Blackjack</strong>. Nessa situação, o jogador ganha 1.5 vezes o valor da aposta (além de recuperar a aposta colocada) e a
ronda termina de imediato. No caso de não ter Blackjack, o jogador tem as seguintes quatro opções: </p>

<ul>
    <li>  <strong>  Ficar </strong> (stand) - O jogador fica com a pontuação atual da sua mão e é a vez do dealer fazer a sua jogada. </li>
    <li>
        <strong> Pedir carta </strong> (hit) – O dealer dá mais uma carta aberta ao jogador. Caso o jogador ultrapasse os 21
        pontos, o jogador perde automaticamente e a ronda termina. Caso contrário, pode continuar a sua jogada voltando a tomar uma das quatro opções.
    </li>
    <li>
        <strong> Dobrar </strong> (Double) - O jogador dobra a sua aposta e de seguida o dealer dá mais uma carta aberta ao jogador. Caso o jogador ultrapasse os 21 pontos, o jogador perde automaticamente e a ronda
        termina. caso contrário, o jogador fica com a pontuação resultante e é a vez do dealer fazer a jogada.
    </li>
    <li>
        <strong> Desistir </strong> (Surrender) - O jogador perde e a ronda termina. No entanto, o jogador recupera metade da sua aposta.
    </li>
    <li>
        <strong> Jogada do dealer </strong> - O dealer não tem vontade livre, jogando sempre com as mesmas regras. Concretamente,
        o dealer é obrigado a fazer hit até perfazer 17 ou mais pontos. Caso a pontuação final do dealer exceda os
        21 pontos, o jogador ganha a ronda. No caso contrário, o jogador ganha se tiver mais pontos
        que o dealer. Caso o jogador e o dealer tenham os mesmos pontos, a ronda termina com um empate.
    </li>
</ul>
<p> Assim, existem três resultados possíveis após a jogada do dealer: </p>
<ul>   
    <li>
        <strong>  O jogador ganha</strong> - O jogador recupera o valor da aposta colocada, acrescido de um valor igual à sua
        aposta (ou seja, o seu lucro é o valor da aposta).
    <li>
         <strong> O dealer ganha</strong> - O jogador perde a sua aposta (ou seja, fica com os mesmos créditos que tiver no
        final da ronda)
    </li>
    <li>
        <strong> Empate</strong> - O jogador recupera o valor da aposta colocada (ou seja, fica com os mesmos
        créditos que tinha antes de iniciar a ronda).
    </li>
</ul>
