body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image:url(../images/39378439-blackjack-wallpapers.jpg);
    background-position:top left;
    background-attachment:fixed;    
}

div.coltittle {
    color:white;
    text-align:center;
     font-weight:bolder;
    font-size: 80px;    
}

div.tittle {
    background-color: transparent !important;  
    margin-bottom:0px;        
    line-height:200%;  
}

p.blackjack {
    font-weight:bolder;
    font-size: 80px;
    padding-top:0px;
    padding-bottom:0px;    
}

div.body {
    color:white;
    text-align:justify;    
}

footer {
    color:white;
}

.thumbnail {
    background-color:transparent !important;
    border: none;       
}

.thumbnail .caption {
    color:white !important;
}

