body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image:url(../images/39378439-blackjack-wallpapers.jpg);
    background-position:top left;
    background-attachment:fixed;    
}

h1 {
    color:white;
    text-align:center;
}

div.tittle {
    background-color: transparent !important;  
    margin-bottom:0px;          
}

p.blackjack {
    font-weight:bolder;
    font-size: 80px;
    padding-top:0px;
    padding-bottom:0px;
    
}

div.body {
    color:white;
}


