body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(../images/39378439-blackjack-wallpapers.jpg);
}

h1 {
    color: white;
    text-align:center;
}

.ViewData[Title] {
    color:white;
    text-align:center;
}

.navbar .navbar-nav {
display: inline-block;
float: none !important;
}

.navbar .navbar-collapse {
text-align: center;
}

