body {
      background-image:url(../images/s-l1000.jpg);
      background-size:100%;      
      background-repeat:no-repeat;   
}

.dealerrow {
    margin-top:60px;
    margin-bottom:15px;
}

.dealerhand {
    align-items:center;
}

.playerrow {
    margin-top:20px;    
}

.forminicial {
    align-items:center;
}

baralho {
    text-align:right !important;  
}

.round-btn {
    display:block;
    width:100px;
    height:80px;
    line-height:50px;    
    border-radius: 12px;
    text-align:center;
    text-decoration:none;        
    font-size:10px;
    font-weight:bold;
}

round-btn:hover {
    background: #262626;
    
}