body {
      background-image:url(../images/s-l1000.jpg);
      background-size:100%;      
      background-repeat:no-repeat;   
}

.dealerrow {
    margin-top:60px;
    margin-bottom:15px;
}

.dealerhand {
    align-items:center;
}

.playerrow {
    margin-top:20px;    
    margin-bottom:60px;
    align-items:center;
}

.btnrow {
    text-align:center;
}

.forminicial {
    align-items:center;
}

baralho {
    text-align:right !important;  
}

.roundbtn {       
    border-radius: 12px;      
}

.roundbtn:hover {
    background: #262626;
    
}