body {
      background-image:url(../images/s-l1000.jpg);
      background-size:100%;      
      background-repeat:no-repeat;   
}

.dealerrow {
    margin-top:75px;
    margin-bottom:100px;
}

.playerrow {
    margin-top:150px;
}

.forminicial {
    align-items:center;
}

baralho {
    text-align:right !important;  
}

.round-btn {
    display:block;
    width:100px;
    height:80px;
    line-height:50px;    
    border-radius: 50%;
    text-align:center;
    text-decoration:none;    
    box-shadow: 0 0 3px gray;
    font-size:10px;
    font-weight:bold;
}

.round-btn:hover {
    background: #262626;
    
}