body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/39378439-blackjack-wallpapers.jpg);
    background-position: top left;
    background-attachment: fixed;
}

body.Jogo {
        background-image: url(../images/s-l1000.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar .navbar-collapse {
    text-align: center;
}

div.coltitle {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 14px;
}

div.title {
    background-color: transparent !important;
    margin-bottom: 0;
    line-height: 200%;
}

p.blackjack {
    font-weight: bolder;
    font-size: 80px;
    padding-top: 0;
    padding-bottom: 0;
}

div.body {
    color: white;
    text-align: justify;
}

.boolform {
    background-color: transparent !important;
}

.baralho {
    margin-top: 60px;
}

.dealerrow {
    margin-bottom: 15px;
}

.playerrow {
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.btnrow {
    text-align: center;
}

.forminicial {
    align-items: center;
}

.roundbtn {
    border-radius: 12px;
    border: none;
    box-shadow: 0 9px #999;
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-bottom: 25px;
}

    .roundbtn:hover {
        background: #262626;
       
    }

    .roundbtn:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .roundbtn.active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

div.btnrules {
    margin-top:10px;
}

.wellsize {
    width: 100%;
    color: #262626;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.alert {
    padding: 20px;   
    color: white;
    text-align: center;
}

.lose{
     background-color: #f66358;
}

.win {   
    background-color: #6Abc6e;    
}

.empate {   
    background-color: #47a8f5;   
}

.surrender {    
    background-color: #ffa92c;    
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: black;  
} 

.btnrules {
    color:black;
}
