@model BlackJack.Models.RoundSummary

<table class="table table-hover text-center">
    <thead>
        <tr>
            
            <th> Rondas </th>
            <th> Créditos Iniciais</th>
            <th> Aposta</th>
            <th class="text-success"> Vitórias </th>
            <th class="text-warning">Empates </th>
            <th class="text-danger">Derrotas</th>
            <th> Double </th>
            <th> BlackJack </th>
            <th> BlackJack Dealer </th>
            <th> Créditos Finais </th>
            
        </tr>
    </thead>
    <tbody>
      

    </tbody>
</table>